@import "../../node_modules/normalize.scss/normalize";

#root {
  max-width: 1200px;
  margin: 50px auto 0;
  padding: 0 15px;

  .message-container {
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;

    #message_place {
      list-style: none;

      .message {
        width: 300px;
        border: 1px solid black;
        margin-bottom: 10px;
        font-size: 24px;

        .userName {
          border-bottom: 1px solid black;
          padding: 5px;
          background-color: green;
          color: white;
          text-align: center;
          text-transform: uppercase;
        }

        .userMessage {
          padding: 10px 5px;
        }
      }
    }
  }

  #message_form {
    text-align: center;
    display: flex;
    gap: 30px;
    justify-content: center;
    position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;

    .input {
      padding: 5px;
    }

    #addMessageBtn {
      padding: 5px 50px;
      background-color: green;
      border: none;
      color: white;
      transition: all 0.6s;
      &:hover {
        background-color: darkgreen;
      }
    }
  }
}
