.container {
    max-width: 1200px;
    font-size: 20px;
}

.students-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.students_list {
    border-collapse: collapse;
    width: 100%;
}

.student-name  {
    width: 100px;
}
.name{
    width: 150px;
}

.input {
    width: 50px;
}