.container {
    max-width: 1200px;
    margin: 0 auto;
}

#table-post {
    width: 100%;
    margin: 0 auto;
    border-spacing: 20px 20px;
    border: 1px solid black;
}

.caption {
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

.error {
    color: red;
    font-size: 20px;
}

.table-header {
    text-transform: uppercase;
    font-size: 24px;
}

.post-item, #loading {
    font-size: 20px;
    text-align: center;
}

.table-footer {
    text-align: center;
}

#input-post-title, #input-post-body, #add-post-btn, .button-delete-post {
    height: 30px;
    box-sizing: border-box;
}

#add-post-btn, .button-delete-post {
    border: none;
    color: white;
    width: 150px;
    cursor: pointer;
}

#add-post-btn {
    background-color: green;
}

.button-delete-post {
    background-color: red;
}

.hide {
    display: none;
}